manifest {
	author = 'Claire Marceaux'
	name = 'MIBI-preprocess-data'
	description = 'Sub pipeline within the MIBI pipeline to preprocess output from QuPath for XGBoost model training.'
	homePage = 'https://github.com/BioimageAnalysisCoreWEHI/MIBI-preprocess-data'
}

// Mandate a minimum version of nextflow required to run the pipeline
nextflowVersion = '!>=20.07.1'

// Set default workflow parameters
params {
	help	= false
	version	= '0.1'
	batch_name = ""
	output_folder = ""
	input_data = ""
	cell_types_to_remove = ""
	change_to = "Other"
	additional_meta_data = ""
	unwanted_markers = ""
	unwanted_compartments = ""
	unwanted_statistics = " Nucleus: Mean, Nucleus: Median, Nucleus: Min, Nucleus: Max, Nucleus: Std.Dev, Nucleus: Percentile: 91.0, Nucleus: Percentile: 92.0, Nucleus: Percentile: 93.0, Nucleus: Percentile: 94.0, Nucleus: Percentile: 96.0,Nucleus: Percentile: 97.0, Nucleus: Percentile: 98.0, Nucleus: Percentile: 99.0, Nucleus: Percentile: 99.5,  Nucleus: Percentile: 99.9, Nucleus: Percentile: 95.0, Nucleus: Percentile: 90.0, Nucleus: Percentile: 80.0, Nucleus: Percentile: 70.0"
	preprocess_script = "${projectDir}/scripts/preprocess-training-data.py"
	memory = "2 GB"
	cpus	= 1
}

// Define container paths
params {
	container = "quay.io/biocontainers/pandas:1.4.3"
}

// Fail a task if any command returns non-zero exit code
shell = ['/bin/bash', '-euo', 'pipefail']

// Output resource and runtime reports for a workflow run
// More info: https://www.nextflow.io/docs/latest/tracing.html
//report {
//	enabled = true
//	overwrite = true
//	file = 'runInfo/report.html'
//}
//
//timeline {
//	enabled = true
//	overwrite = true
//	file = 'runInfo/timeline.html'
//}
//
//trace {
//	enabled = true
//	overwrite = true
//	file = 'runInfo/trace.txt'
//}